.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f5f9;
}

.login-box {
  background: white;
  padding: 40px;
  border-radius: 12px;
  width: 320px;

  display: flex;
  flex-direction: column;
  gap: 15px;

  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.login-box input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.login-box button {
  padding: 12px;
  background: #22c55e;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}